.start-finish:hover {
    color: crimson;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonr/Raleway-Black.ttf);
    src: url(fonr/Raleway-Black.ttf) format("ttf");
}

.iop {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 60px;
    border-width: 5px;
    border-color: chartreuse;
    border-style: dotted;
    background-color: gray;
    /* padding: 10px;
    /* padding-top: 10px; */
    /* padding-left: 20px; */
    /* padding-bottom: 10px; */
    /* margin: 50px; */
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    /* margin-bottom: 100px; */
    margin: 50px 25px 100px 75px;
    /* padding: 50px 75px 100px 150px; */
}

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.workbench {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.vertical {
    vertical-align: bottom;
    text-transform: initial word-spacing
}

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex-container1 {
    display: flex;
    gap: 50px;
    background-color: lawngreen;
    list-style: none;
}

.flex-item1 {
    width: 100px;
    height: 100px;
    background-color: darkviolet;
    font-size: 75px;
}

.item-three {
    order: -2;
}

.item-four {
    order: 0;
}

.item-five {
    order: 0;
}

.item-one {
    order: 2;
}

.flex-container2 {
    display: flex;
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.grow-2 {
    flex-grow: 2;
}

.grow-1 {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.flex-container {
    display: flex;
    width: 450px;
    border: 3px solid red;
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.shrink-2 {
    flex-shrink: 2;
}

.shrink-1 {
    flex-shrink: 1;
}

.shrink-3 {
    flex-shrink: 3;
}

/* .spysok-odyag {
    display: inline-flex;
} */

.odyag::after {}

.odyag::after {}

.odyag:hover::after {}

.link-odyag {
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;
}

.link-odyag::before,
.link-odyag::after {
    content: "";
    width: 30px;
    height: 30px;
    background-size: contain;
}

.link-odyag::after {
    display: none;
    margin-left: 16px;
    background-image: url("kotyk.png");
    background-repeat: no-repeat;
}
.link-odyag:hover::after {
    display: block;
}