/* .start-finish:hover {
    color: crimson;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonr/Raleway-Black.ttf);
    src: url(fonr/Raleway-Black.ttf) format("ttf");
}

.iop {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 60px;
    border-width: 5px;
    border-color: chartreuse;
    border-style: dotted;
    background-color: gray; */
    /* padding: 10px;
    /* padding-top: 10px; */
    /* padding-left: 20px; */
    /* padding-bottom: 10px; */
    /* margin: 50px; */
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    /* margin-bottom: 100px; */
    /* margin: 50px 25px 100px 75px; */
    /* padding: 50px 75px 100px 150px; */
/* }

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.workbench {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.vertical {
    vertical-align: bottom;
    text-transform: initial word-spacing
}

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex-container1 {
    display: flex;
    gap: 50px;
    background-color: lawngreen;
    list-style: none;
}

.flex-item1 {
    width: 100px;
    height: 100px;
    background-color: darkviolet;
    font-size: 75px;
}

.item-three {
    order: -2;
}

.item-four {
    order: 0;
}

.item-five {
    order: 0;
}

.item-one {
    order: 2;
}

.flex-container2 {
    display: flex;
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.grow-2 {
    flex-grow: 2;
}

.grow-1 {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.flex-container {
    display: flex;
    width: 450px;
    border: 3px solid red;
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.shrink-2 {
    flex-shrink: 2;
}

.shrink-1 {
    flex-shrink: 1;
}

.shrink-3 {
    flex-shrink: 3;
}

/* .spysok-odyag {
    display: inline-flex;
} */

/* .odyag::after {}

.odyag::after {}

.odyag:hover::after {}

.link-odyag {
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;
}

.link-odyag::before,
.link-odyag::after {
    content: "";
    width: 30px;
    height: 30px;
    background-size: contain;
}

.link-odyag::after {
    display: none;
    margin-left: 16px;
    background-image: url("kotyk.png");
    background-repeat: no-repeat;
}

.link-odyag:hover::after {
    display: block;
}

.grad {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
}

.grad-elements {
    outline: 1px solid red;
    flex-basis: calc(50% - 10px);
    list-style: none;
    height: 250px;
}

.l1 {
    background-image: linear-gradient(to bottom, blue, yellow);
}

.l2 {
    background-image: linear-gradient(to top, green, red);
}

.l3 {
    background-image: linear-gradient(to left, orange, green);
}

.l4 {
    background-image: linear-gradient(to right, black, darkorange);
}

.grad-elements1 {
    outline: 1px solid red;
    flex-basis: calc(50% - 10px);
    list-style: none;
    height: 250px;
}

.grad1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
}

.l11 {
    background-image: linear-gradient(to bottom,
            #f44336 15%,
            #09792b 40%,
            #00b9ff 65%,
            #ffb800);
}

.l21 {
    background-image: linear-gradient(to top, #f44336 15%,
            #09792b 40%,
            #00b9ff 65%,
            #ffb800);
}

.l31 {
    background-image: linear-gradient(to left, #f44336 15%,
            #09792b 40%,
            #00b9ff 65%,
            #ffb800);
}

.l41 {
    background-image: linear-gradient(to right, #f44336 15%,
            #09792b 45%,
            #00b9ff 65%,
            #ffb800);
} */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    height: 190px;
    width: calc(50% - 20px);
    margin: 10px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  /* bgi -> bgr -> bgp -> bgs */
  /* cat */
  .box:nth-child(1) {
    background-color: #9c27b0;
    background-image: url(img/2018-07-19-17-02-36.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
  }
  /* bird */
  .box:nth-child(2) {
    background-color: #009688;
    background-image: url(img/4959004.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 50px;
  }
  /* dog */
  .box:nth-child(3) {
    background-color: skyblue;
    background-image: url("img/cat.png");
    background-repeat: repeat-y;
    background-position: left;
  }
  /* turtle */
  .box:nth-child(4) {
    background-color: #3f51b5;
    background-image: url("img/pngtree-cute-green-toad-animal-png-image_11716943.png");
  }